/* ********** calculator ********** */
/* ********** general ********** */
.input {
  border: 1px solid black;
}  

.inputNumber {
  text-align: right;
}

.inputText {
  text-align: center;
}

.box {
  width: 375px;
  height: auto; 
  margin: 20px auto; 
  border: 1px solid black; 
}
/* .textInputRow{ */
.boxRow {
  margin: 2px; 
  /* border: 1px solid red; */
  padding: 0; 
  display: flex;
  justify-content: space-between;
}

/* ********** prepayment.js ********** */

/* ********** debts.js & debt.js ********** */
.boxRowRemDebtSeqNum {
  display: flex;
  justify-content: space-between;
}

/* ********** summary ********** */

/* ********** details ********** */
