/* ******************** COMPONENT-CONTENTS ******************** */

p { 
  text-align: justify;
  padding: .25vh 5vh;
}

/* ********** home ********** */
/* # elephantFront {
  margin-top: -10px; 
  margin-bottom: -30px; 
  width: 430px; 
  height: auto;  
  text-align:center;
} */
.h2-text {
  color: #003300;
}

/* ********** articles ********** */
/* ********** glossary ********** */
dl { 
  /* border: 1px solid red;  */
  text-align: justify; 
  padding: 2.7vw;  
} 
dt {
  /* border: 1px solid black;  */
  font-weight: bold;
  padding: 1vh; 
}
/* dd { } */

/* ********** about ********** */
#pliny-box {
  /* border: 1px solid red; */
  margin-top: -1.5em;  
 }
#pliny-quote {
  /* border: 1px solid red; */
  padding: 0 3vw;
  font-size: 1.1em; 
  line-height: 1.3em; 
}
#pliny-the-elder {
  text-align: right;
  font-size: 1.1em; 
}


/* ********** contact ********** */

/* ********** calculator ********** */
/* ********** login ********** */
/* ********** privacy policy ********** */

/* ********** terms of use ********** */
