/* ******************** COMPONENT-CONTENTS ******************** */


p { 
  text-align: justify;
  padding: .25vh 5vh;

}

/* ********** home ********** */
/* # elephantFront {
  margin-top: -10px; 
  margin-bottom: -30px; 
  width: 430px; 
  height: auto;  
  text-align:center;
} */
.h2-text {
  color: #003300;
}

/* ********** articles ********** */

/* ********** glossary ********** */
#glossary {
  /* border: 1px solid red;  */
}

dl { 
  /* border: 1px solid red;  */
  text-align: justify; 
  padding: 2.2vw;  
} 
dt {
  /* border: 1px solid black;  */
  font-weight: bold;
  padding: 1vh; 
}
/* dd { } */

/* ********** about ********** */
/* #pliny-box { } */
#pliny-quote {
  padding: 0 3vw; 
}
#pliny-the-elder {
  text-align: right;
}

/* ********** contact ********** */

/* ********** calculator ********** */

/* ********** login ********** */

/* ********** privacy policy ********** */

/* ********** terms of use ********** */
